
 .section1-colour{
    background: #DCEAF5;
 }
 .section1-left {
    width: 50%;
 }
.section1-right {
    width: 50%;
    margin-top: 58px;
}
.section1 {
    display: flex;
    align-items: center;
    height: 703px;
}
.section1 h1 {  
    font-weight: 600;
    font-size: 64px;
    line-height: 72px ;
}
.button1{
    background: #F58A07;
    width: 199px;
    height: 54px;
    border-radius: 27px;
    margin-bottom: 40px;
    margin-top: 20px;
}
.button1 a{
    color: white;
}
.button2 {
    color: #1D3444;
    background: none;
    width: 199px;
    height: 54px;
    border-radius: 27px;
}
.section1-work {
    color: rgba(57, 65, 73, 0.5);
}
.logos {
    padding: 20px;
}
.section2 {
    height: 740px;
    width: 100%;
}
.section2-up {
    width: 55%;
}
.section2-down {
    width: 100%;
    display: flex;
    height: 740px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section2-down a{
    text-decoration: none;
    color: #F58A07;
}
.section2-down img{
    border-radius: 20px;
}
.section3 {
    background: #EDF7FF;
    height: 665px;
    width: 100%;
    display: flex;
}
.section3-up {
    display: flex;
    align-items: center;
}    
.section3-up h1{
    width: 50%;  
    font-weight: 600;
    font-size: 36px;
    line-height: 44px; 
    height: 132px;
}
.section3-up p{
    width: 50%;
    height: 102px;
}
.section3-down{
    display: flex;
    justify-content: space-between;
}
.section3-card {
    background: #FFFFFF;
    border-radius: 20px;
    width: 30%; 
    padding: 30px;
}
.about {
    width: 100%;
    height: 667px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 96px;
    border-radius: 20px;
}
.about-cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.about-cards .about-card1 {
    width: 45%;
}
.about-cards .about-card2 {
    width: 45%;
}
.about-left {
    width: 40%;
    margin-bottom: 100px;
    margin-top: 100px;
}
.about h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color:  #F58A07;
}
.about h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 106.5%;
}
.aboutright-img{
    height: 670px;
    border-radius: 20px;
}
.multiply {
    mix-blend-mode: multiply;
    background: #F58A07;
    width: 153px;
    height: 670px;
    position: absolute;
    border-radius: 20px 0 0 20px;
}
.multiply2 {
    mix-blend-mode: multiply;
    background: #F58A07;
    width: 120px;
    height: 466px;
    position: absolute;
    border-radius: 20px 0 0 20px;
}

.service {
    width: 100%;
    height: 682px;
    background: #EDF7FF;
    border-radius: 20px;
    margin-bottom: 96px;
}
.service-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service .service-bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.service-left {
    width: 40%;
}
.service-right {
    width: 40%;
}
.service-left a {
    font-weight: 500;
    font-size: 16px;
    line-height: 106.5%;
    color: #F58A07;
}
.service-buttons {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.service-button1 {
    background: #FFFFFF;
    border-radius: 31px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #F58A07;
}
.service-button2 {
    border-radius: 31px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: none;
    color: #1D3444;
    border: 1px solid #A8BCCC
}
.service-ribbon img{ 
    margin-top: -16px;
    margin-right: -16px;
}
.cta {
    width: 100%;
    height: 518px;
    display: flex;
    background: #F58A07;
}
.cta img {
    width: 50%;
    height: 518px;
}
.cta-right {
    width: 50%;
    display: flex;
    padding-left: 200px;
}
.cta-right h1 {
    width: 50%;
    color: #FFFFFF;
}
.cta-right button{
    width: 216px;
    height: 54px;
    left: 1088px;
    top: 4392px;
    background: #FFFFFF;
    border-radius: 31px;  
    border: none;
}
.cta-right button a{
    color: #F58A07;
    text-decoration: none;
}
.video {
    width: 100%;
    height: 501px;
    display: flex;
    margin-top: 96px;
    margin-bottom: 96px;
}
.video-left{
    width: 50%;
}
.video-left h3 {
    margin-right: 10px;
}
.video-left a {
    color: #F58A07;
    text-decoration: none;
}
 .videoleft-profile{
    display: flex;
}
.play-button {
    width: 51px;
    height: 51px; 
    background: #FFFFFF;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}
.video-right {
    width: 50%;
    background-image: url(./images/video-image.png);
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    padding: 50px;
    color: white;
}   
.header {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text {
    width: 40%;
}
.header-text button {
    width: 171px;
    height: 54px;
    background: #F58A07;
    border-radius: 27px;
    color: #FFFFFF;;
}
.header-image {
    width: 50%;
}
.feature1 {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px;
}
.feature1-image {
    width: 50%;
}
.multiply-feature{
    position: absolute;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    margin-top: 178px;
    margin-right: 573px;
}
.multiply-feature2{
    position: absolute;
    width: 95px;
    height: 97px;
    background: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
    margin-top: 178px;
    margin-left: 573px;
}
.feature1-text {
    width: 40%;
    height: 294px;
}
.feature2 {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 48px;
}
.feature2-text {
    width: 40%;
}
.careers {
    width: 100%;
    height: 552px;
}
.careers-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    align-items: start;
}
.careers-cards1 {
    width: 30%;
    height: 181px;
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    margin-bottom: 50px;
}
.careers-cards1 a {
    text-decoration: none;
    color: #F58A07;
}
.blog {
    width: 100%;
    height: 749px;
    background: #DCEAF5;
}
.blog-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-header .headertext-img {
    display: flex;
    justify-content: space-evenly;
}
.headertext-text a {
    text-decoration: none;
    color: #F58A07;
}
.blog-latestsection {
    width: 100%;
    height: 1174px;
    display: flex;
    justify-content: space-between;
    margin-top: 128px;
    margin-bottom: 128px;
}
.cards-top {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.cards-bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
} 
 .blog-card {
    width: 30%px;
    height: 507px;
    background: #EDF7FF;
    border-radius: 20px;
    margin:10px;
 }
 .blog-card h2,a,p {
    margin: 10px;
 }
 .blog-card a {
    text-decoration: none;
    color: #F58A07;
 }
 .blog-post {
    width: 100%;
 }
 .blog-post img {
    border-radius: 30px;
 }
 .blogpost-text {
    width: 100%;
    margin-left: auto;
    padding: 80px 264px;
 }
 .blogpost-profile {
    display: flex;
 }
 .career2-job {
    display: flex;
    justify-content: space-between;
 }
 .career2-header {
    margin-bottom: 40px;
 }
 .career2-details {
    width: 100%;
    background: rgba(193, 228, 255, 0.3);
    border-radius: 20px;
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
 }
 .details-left {
    width: 50%;
 }
 .details-right {
    width: 842px;
    height: 308px;
 }
.details-orange {
    color: #F58A07;
}
.input-top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input {
    width: 49%;
    height: 54px;
    margin-top: 15px;
    margin-bottom:15px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    border: none;
}
.inputbottom{
    width: 100%;
    height: 215px;
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.apply-button {
    width: 119px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    color: #FFFFFF;
    margin-bottom: 100px;
}
.contactus-header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: space-between;
}
.header-left {
    width: 45%;
}
.header-right {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.contact-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contact-left {
    width: 45%;
}
.contact-input {
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;   
    height: 54px; 
    width: 100%;
    border: none;
    margin-bottom: 15px;
}
.contact-input-big {
    background: rgba(210, 218, 237, 0.17);
    border-radius: 27px;
    height: 160px;  
    width: 100%; 
    border: none;
    margin-bottom: 40px;
}
.contact-right{
    width: 50%;
}
.contact-right img {
    border-radius: 20px;
}
.contact-button {
    width: 119px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
    color: #FFFFFF;
    margin-bottom: 100px;
}
