footer{
    width: 100%;
    height: 463px;
    background: #063255;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.footer-top a{
    text-decoration: none;
    color: #FFFFFF;
}
.footer-top h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-company {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-bottom {
    display: flex;
}
.footerbottom-right {
    display: flex;
    justify-content: space-between;
}
.footer-company input {
    width: 342px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 31px;
}
.footer-company button {
    width: 156px;
    height: 54px;
    background: #F58A07;
    border-radius: 31px;
}