.header-nav{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.header-nav nav {  
    width: 70%;
}
.header-nav nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.header-nav a{
    text-decoration: none;
    color: #394149;
}
.header-button{
    background: rgba(245, 138, 7, 0.1);
    border-radius: 31px;
    color: #F58A07;
    width: 173px;
    height: 52px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 106.5%;
}