.latest-section {
    width: 100%;
    height: 869px;
    background: #DCEAF5;
}
.cards{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.latest-card {
    width: 400px;
    height: 507px;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 10px;
}
.latest-section h1{
    padding-top: 96px;
}
.latest-card h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}
.latest-card a {
    color: #F58A07;
    text-decoration: none;
}